@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&family=Poppins:wght@200;400;800&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
